<header id="main-header">
    <div id="logo"><a href="/">TheManlyDapper</a></div>
    <!-- <div class="search-bar">
      <form action="" method="post">
        <input type="search" name="search" id="search" placeholder="search products...">
      </form>
    </div> -->
    <nav>
      <%- include('nav-items') %>
    </nav>
    <button id="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>
  <aside id="mobile-menu">
    <nav>
      <%- include('nav-items') %>
    </nav>
  </aside>